@viewport {  
	width: device-width;
	user-zoom: fixed;
}

*{
	user-select: none;
	background-color: #294964;
	margin:0;
	padding: 0;
}

body{
	position:relative;
}

canvas{
	margin-left: 0;
	border:1px solid black;
	z-index: 1;

}

p, span{
	z-index: 1;
	
}

.text{
	position: absolute;
	font-size: 20px;
	color: #43FFFF;

	background-color: rgba(0, 125, 215, 0.0);
}

img{
	width: 350px;
	height: 90px;
	position: absolute;
	left: 20px;
	top: 20px;
}

#game{
	position: relative;
	margin: 0;
	padding: 0;
	width: 288px;
	height: 512px;
}

.mvers{
	background-color: rgba(57,74,93, .5);
}

#btn{
	display: none;
	position: absolute;
	background-color: #37C33C;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	border:1px solid black;
	color: #fff;
	font-size: 25px;
	top: 50%;
	left:44px;
}
